.main {
  &__logo {
    max-width: 15rem;
    width: 100%;
    margin: 0 auto;
  }

  &__logo img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
  }

  &__title {
    text-align: center;

    color: #fff;
    font-size: 2.4rem;
    font-weight: 700;
    font-family: "Ubuntu", sans-serif;
  }

  &__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex: 0 0 1;

    margin-top: 2rem;
  }

  &__footer {
    max-height: 7.5rem;
  }

  &__address {
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    font-family: "Ubuntu", sans-serif;
  }
}

.address {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  color: #fff;

  font-size: 1.4rem;
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;

  &__city {
    width: 100%;
    text-align: center;
  }
  &__street {
    width: 100%;
    text-align: center;
  }
}
