.layout {
  background: url("../../../assets/images/Background.png") repeat 0 0 / 390px
    844px;
  background-color: red;
  padding-top: 2rem;
  max-height: 100dvh;
  overflow: hidden;
}

.container {
  max-width: 30rem;
  margin: 0 auto;
  display: grid;
  justify-items: center;
  height: 100vh;

  grid-template-rows: 1fr 2fr 1fr;
}
